# task and env
env:
  env_name: Hopper-v5

# collector
collector:
  frames_per_batch: 64
  total_frames: 1_000_000

# logger
logger:
  backend: wandb
  mode: online
  project_name: policy_gauss
  group_name: null
  exp_name: a2c_softmax
  test_interval: 1_000_000
  num_test_episodes: 5
  video: False

# Optim
optim:
  lr: 3e-4
  weight_decay: 0.0
  anneal_lr: False

# loss
loss:
  gamma: 0.99
  mini_batch_size: 64
  gae_lambda: 0.95
  critic_coef: 0.25
  entropy_coef: 0.0
  loss_critic_type: l2